
html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="style.css")

        title Weather

    body 
        
        header 

            h1= location
            
        main

            for day, date in days

                div(class="day")

                    div(class="left-side")
                        
                        h1(class="weekday")= day.weekday
                        h2(class="date")= date.slice(start=4, end=10)

                    for hour in day.hours

                        div(class="hour")

                            h3(class="time")= hour.time

                            if parseInt(hour.temp) < 0
                                h3(class="neg-temp")= hour.temp
                        
                            else 
                                h3(class="pos-temp")= hour.temp

                            img(class="icon" src= hour.weather alt=hour.weather)
    
    script(src="script.js") 


