
html(lang="en")

    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=name
        link(rel="stylesheet", href="style.css")
    
    body

        div(class="table")
        
            img(class="image", src=img, alt=name)
            h1(class="name")= name
            h2(class="type")= type

  
    
    